[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
icevision = {extras = ["all"],version = "==0.1.4"}
notebook = "*"
azureml-widgets = "*"
azureml-sdk = "==1.13"

[requires]
python_version = "3.6"
