<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiddler</title>
    <!-- Import Styles -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/main.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body class="bg-light">
    <div class="container-sm" id="app">
        <div class="py-5 text-center">
            <h1>Quiddler</h1>
            <webcam ref="webcam" @camera-opened="onCameraOpened"></webcam>
        </div>
        
        <form @submit.prevent="uploadImages">
            <div class="row">
                <div class="col-sm-0 col-lg-2"></div>
                <div class="col-sm-6 col-lg-4">
                    <label for="hand">Hand image:</label>
                    <div class="input-group">
                        <button v-show="cameraOpen" type="button" class="btn btn-success btn-sm" @click="$refs.webcam.takePhoto('handImage')">Webcam</button>
                        <button type="button" class="btn btn-secondary btn-sm" @click="randomHand">Random</button>
                        <input class="form-control form-control-sm" id="hand" type="file" @change="onHandChange" />
                    </div>
                    <div class="imgholder d-flex align-items-center">
                        <img :src="handImage" ref="handImage" class="border"/>
                    </div>
                    <div><input disabled="true" type="text" placeholder="hand" v-model="hand" style="width:320px"/></div>
                    <label for="nCards">Card count:</label>
                    <select class="form-select form-select-sm" id="nCards" v-model.number="nCards">
                        <option>10</option>
                        <option>9</option>
                        <option>8</option>
                        <option>7</option>
                        <option>6</option>
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <label for="deck">Deck image:</label>
                    <div class="input-group">
                        <button v-show="cameraOpen" type="button" class="btn btn-success btn-sm" @click="$refs.webcam.takePhoto('deckImage')">Webcam</button>
                        <button type="button" class="btn btn-secondary btn-sm" @click="randomDeck">Random</button>
                        <input class="form-control form-control-sm" id="deck" type="file" @change="onDeckChange" />
                    </div>    
                    <div class="imgholder d-flex align-items-center">
                        <img :src="deckImage" ref="deckImage" class="border"/>
                    </div>
                    <div><input disabled="true" type="text" placeholder="deck" v-model="deck" style="width:320px"/></div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-6 mx-auto">
                    <button v-if="waiting" class="w-100 btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        {{ state }}
                    </button>
                    <div v-else="">
                        <input class="w-100 btn btn-primary" type="submit" value="Get the best play">
                    </div>
                </div>
            </div>
        </form>

        <div class="col-6 mx-auto py-3">
            <div class="row">
                <div class="col-4 text-end">Score:</div>
                <div class="col-8">{{ play.score }} <i v-show="play.score && !play.complete">(incomplete)</i></div>

                <div class="col-4 text-end">Pick up:</div>
                <div class="col-8">{{ play.pick_up }}</div>

                <div class="col-4 text-end">Drop:</div>
                <div class="col-8">{{ play.drop }}</div>

                <div class="col-4 text-end">Words:</div>
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li v-for="word in play.words">
                            <a :href="'https://www.collinsdictionary.com/dictionary/english/' + word.replaceAll('/','')" target=”_blank”>
                                {{ word.replaceAll('/','') }}
                            </a> - {{ word }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Import App -->
    <script src="./main.js"></script>
    
    <!-- Import Components -->
    <script src="./components/WebCam.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>