<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiddler</title>
    <!-- Import Styles -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/main.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <h1>Quiddler</h1>

        <div>
            <form @submit.prevent="uploadImages">
                <label for="hand">Hand image:</label>
                <input id="hand" type="file" @change="onHandChange" />
                <div class="preview">
                    <img :src="handImage" />
                </div>
                <div>
                    <input disabled="true" type="text" placeholder="hand" v-model="hand" />
                </div>

                <label for="deck">Deck image:</label>
                <input id="deck" type="file" @change="onDeckChange" />
                <div class="preview">
                    <img :src="deckImage" />
                </div>
                <div>
                    <input disabled="true" type="text" placeholder="deck" v-model="deck" />
                </div>

                <div>
                    <label for="nCards">Card count:</label>
                    <select id="nCards" v-model.number="nCards">
                        <option>10</option>
                        <option>9</option>
                        <option>8</option>
                        <option>7</option>
                        <option>6</option>
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                    </select>
                </div>
                
                <button v-if="waiting" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Working...
                </button>
                <div v-else="">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div>
            <p>Pick up: {{ play.pick_up }}</p>
            <p>Drop: {{ play.drop }}</p>
            <p>Words: {{ play.words }}</p>
            <p>Score: {{ play.score }}</p>
            <p>Complete: {{ play.complete }}</p>
        </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>